<!DOCTYPE html>
    html
        head
            title
                block title

            link(rel="stylesheet" href="./styles/main.css")
            block styles

        body
            block content

            block scripts

            .footer
                a.button.login-button(href="3_runner_auth.html") Login
                .footer-text 18 дней 8 часов и 17 минут до старта марафона!